<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <p>
          {{ form.username.label }}<br />
          {{ form.username(size=32) }}<br />
          {% for error in form.username.errors %}
          <span class="error-message">[{{ error }}]</span><br />
          {% endfor %}
        </p>
        <p>
          {{ form.password.label }}<br />
          {{ form.password(size=32) }}<br />
          {% for error in form.password.errors %}
          <span class="error-message">[{{ error }}]</span><br />
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
      <div class="link-row">
        <a href="{{ url_for('registration') }}"
          >Don't have an account? Register</a
        >
      </div>
    </div>
  </body>
</html>
